asgiref==3.6.0
Django==4.1.6
django-autoslug==1.9.8
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-js-asset==2.0.0
djangorestframework==3.14.0
Pillow==9.4.0
pip==22.0.2
pytz==2022.7.1
setuptools==59.6.0
sqlparse==0.4.3