{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Django Girls blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <style type="text/css">
        .skiptranslate iframe {
            visibility: collapse !important;
        }
        #google_translate_element {
            position: fixed;
            bottom: 1rem;
            right: 1rem;
        }
        @media (max-width: 460px) {
            #google_translate_element {
            bottom: 4rem;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" href="/">My Blog</a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pollapp/">Polls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tag/">Tag</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                    {% elif user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Login</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                    {% if user.is_authenticated %}
                        <a href="{% url 'blog:addPost' %}" class="top-menu rounded text-white bg-success text-decoration-none p-2">
                            {% include 'icons/file-earmark-plus.svg' %} Add Post
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %} 
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" ></script>
    <script src="{% static 'js/blog.js' %}"></script>
    <div id="google_translate_element"></div>
</body>

</html>
