{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col">
            {% for post in posts %}
            <article class="post">
                <time class="date">
                    {{ post.published_date }}
                </time>
                category:<a href="{% url 'blog:category_detail' post.category.slug %}">{{ post.category.name }}</a>
                <h2><img class='img'
                        src="{% if post.thumbnail_image %} {{post.thumbnail_image.url }} {% else %}{% static 'image/static.jpg' %} {% endif %}"
                        style="width:50px; height:50px; border-radius: 50px;">
                    <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a>
                </h2>
                <p>{{ post.description|linebreaksbr }}</p>
                {% include 'icons/tags-fill.svg' %}: {% for i in post.tag.all %} <a
                    href="{% url 'blog:tag_detail' i.slug %}">{{ i.name }}</a> {% endfor %}
            </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}