{% if page_obj.has_previous or page_obj.has_next %} 
<div class="styled-pagination text-center col-lg-12 col-md-12 col-sm-12 mt-3"> 
    <ul class="clearfix p-0">
    {% if page_obj.has_previous %}
        <li class="next">
            <a href="" class='pageClick'>
                <span style="display:none;">{{ page_obj.previous_page_number }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
        </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            {% if page_obj.has_next and i == page_obj.next_page_number %}
                <li><a href="" class='pageClick'><span>{{ i }}</span></a></li>
            {% elif page_obj.has_previous and i == page_obj.previous_page_number %}
                <li><a href="" class='pageClick'><span>{{ i }}</span></a></li>
            {% elif forloop.counter <= 3 or i == page_obj.paginator.num_pages %}
                <li><a href="" class='pageClick'><span>{{ i }}</span></a></li>
            {% elif forloop.counter > 3 and i != page_obj.paginator.num_pages %}
                {% if page_obj.has_next and i == page_obj.next_page_number|add:'1' %}
                    <li><a href=""><span>...</span></a></li>
                {% elif page_obj.has_previous and i == page_obj.previous_page_number|add:'-1' %}
                    <li><a href=""><span>...</span></a></li>
                {% elif page_obj.number == 1 and i == 4 %}
                    <li><a href=""><span>...</span></a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li>
            <a href="" class='pageClick'><span style="display:none;">{{ page_obj.next_page_number }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </li>
    {% endif %}
    </ul>
</div>
{% endif %}