{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col">
            {% for post in posts %}
            <time class="date" style="color: #8f0606;">
                {{ post.publish }}
            </time>
            <article class="post mt-2">
                category:<a href="{% url 'blog:category_detail' post.category.slug %}">{{ post.category.name }}</a>
                <h2 class="mt-2">
                    <a href="{% url 'blog:post_detail' post.slug %}">
                        <img class='img'
                            src="{% if post.thumbnail %} {{post.thumbnail.url }} {% else %}{% static 'image/static.png' %} {% endif %}"
                            style="width:50px; height:50px; border-radius: 50px;">
                        {{ post.title|truncatechars:30}}
                    </a>
                </h2>
                {% comment %} <p>{{ post.description|linebreaksbr|truncatechars:50}}</p> {% endcomment %}
                {% comment %} <p>By: {{ post.author|linebreaksbr|truncatechars:50}}</p> {% endcomment %}
                tag: {% for i in post.tag.all %} <a href="{% url 'blog:tag_detail' i.slug %}">{{ i.name | linebreaksbr}}</a> {% endfor %}
            </article>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
